eztrace_output*
pkestene_eztrace_log*
log.txt
profile.*
events.*
tau.edf
tau.trc
tau.slog2
tautrace.*
*.log

*.o
a.out

helloworld_mpi
helloworld_mpi_b
helloworld_mpi2
helloworld_mpi2b
helloworld_mpi3
helloworld_mpi3b
helloworld_mpi3b.old
helloworld_mpi4

compute_pi
compute_pi_mpi
compute_pi_mpi2

mpi_ring
mpi_ring2

mpi_bandwidth
mpi_latency

trap
mpi_trap
mpi_trap2
mpi_trap3

trapeze
mpi_trapeze

naive_bcast
